*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 9px;
    background-image: linear-gradient(20deg,blue, green, white,tomato,gray, rgb(115, 204, 112), black,hotpink);
    background-repeat: no-repeat;
    /* background: transparent; */
    backdrop-filter: blur(90px);
    width: 100%;
    height: 100vh;

}
h1{
    font-family: serif;
}
span{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
span :last-child{
    color: red;
}